:root {
	--pry-text: #fff;
	--sec-text: #5a3cd7;
	--pry-back: #5a3cd7;
	--sec-back: #001d38;
	--shadow: #000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 1em 0;
	font-family: verdana, san-serif;
}

nav ul {
	display: none;
}

svg {
	width: 25px;
	height: 25px;
}