:root {
	--pry-text: #fff;
	--sec-text: #5a3cd7;
	--pry-back: #5a3cd7;
	--sec-back: #001d38;
	--shadow: #000;
	--accent: #ff0;
}

@font-face {
	font-family: 'mercury display';
	src: url('../fonts/Mercury Display Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

body {
	font-family: verdana, san-serif;
	overflow: hidden;
}

a {
	text-decoration: none;
	transition: 1s ease;
}

header {
	background: var(--pry-back);
	margin-bottom: 6em;
	color: var(--pry-text);
}

header * {
	margin: 0.2em 0;
}

.header-upper {
	padding: 1em;
}

header img[src*=logo] {
	width: 150px;
}

header a {
	color: var(--accent);
}

header img {
	width: 100%;
	max-width: 250px;
}

header img:nth-child(2) {
	border-radius: 50%;
	width: 300px;
	max-width: 350px
}

header img:nth-child(odd) {
	opacity: 0.5;
}
.header-lower {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.header-text {
	grid-row: 2/3;
	grid-column: 2/3;
	text-align: center;
}

h1 {
	margin-bottom: 0;
}

.ham {
	float: right;
}

nav ul {
	display: none;
}

.header-upper > a, .resume a {
	color: var(--accent);
}

section {
	margin-bottom: 8em;
}
.certified * {
	color: var(--sec-text);
	text-align: center;
	line-height: 1.8em;
}

a:hover {
	letter-spacing: 1px;
}

.projects {
	padding: 1em;
	background: var(--sec-back);
	color: var(--pry-text);
	text-align: center;
}

.projects h2 {
	margin: 1.2em;
}

.project-list > * {
	margin-bottom: 3em;
}

.project-list img {
	width: 80%;
	max-width: 400px;
}

figcaption {
	color: var(--accent);
}

figure {
	display: inline-block;
	padding: 0;
}

.summary img {
	width: 30%;
	border-radius: 50%;
	margin-right: 1em;
}

.summary .wrapper {
	display: flex;
	align-items: center;
}

.summary {
	padding: 0 1em;
}

.summary p {
	color: var(--sec-text);
	font-weight: bold;
	line-height: 1.5em;
	font-family: 'mercury display';
	font-size: 16px;
	letter-spacing: 0.5px;
}


.skills {
	padding: 2em 1em;
	background: var(--pry-back);
	color: var(--pry-text);
	text-align: center;
	line-height: 2em;
}

.skill_level {
	width: 80%;
	margin: 2em auto;
}

.form h2 {
	color: var(--sec-text);
	margin-bottom: 1em;
	text-align: center;
}

form {
	padding: 2em 1em;
	background: var(--pry-back);
	color: var(--pry-text);
}

form > .wrapper {
	width: 60%;
	margin: 1em auto;
}
.wrapper > input {
	width: 90%;
	display: block;
	margin-bottom: 1em;
	padding: 0.5em;
	border-radius: 10px;
}

.wrapper > input:last-child {
	margin-top: 1em;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	background: var(--accent);
	outline: none;
	color: var(--sec-back);
	font-weight: bold;
	font-size: 1em;
	transition: 0.5s ease;
}

.wrapper > input:last-child:hover {
	background: transparent;
}

label {
	display: block;
}

svg {
	width: 25px;
	height: 25px;
	transition: 0.5s ease;
}

footer svg:hover {
	transform: scale(1.3);
}

footer {
	background: var(--sec-back);
	padding: 2em 1em;
	color: var(--pry-text);
}

footer h2 {
	margin-bottom: 1em;
	text-align: center;
}

footer p {
	
	text-align: center;
}

.social {
	width: 50%;
	margin: 2em auto;
	display: flex;
	justify-content: space-around;
}

footer a {
	transition: 0.5s ease;
	color: var(--accent);
}

p > a:hover {
	letter-spacing: 1px;
}

hr {
	opacity: 0.1;
	margin-bottom: 1em;
}

.baloon {
	display: none;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 100px;
	right: 400px;
	background: var(--sec-back);
	border-radius: 50%;
	opacity: 0.1;
}

.modal {
	padding: 2em 0;
	display: grid;
	height: 40vh;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	align-content: space-around;
	width: 70%;
	margin: 2em auto;
	
	}

	.modal a {
		color: var(--pry-text);
	}

.modal-wrapper {
	width: 0;
	background: var(--sec-back);
	z-index: 2;
	position: fixed;
	right: -40px;
	top: 0;
	opacity: 0.9;
	height: 100vh;
	transition: 1s ease;
}

.modal-wrapper svg{
	position: absolute;
	top: 10px;
	right: 10px;
	color: var(--pry-text);
}

.modal-wrapper svg{
	fill: #ff0;
}


.toggle-hide {
	display: none;
}

.ham svg {
	width: 50px;
	height: 50px;
}

/******************************************************************
************MEDIA QUERIES*/
@media screen and (min-width: 680px) {
	.flexl1 {
		display: flex;
		flex-direction: column;
	}

	.hide1 {
		display: none;
	}

	.grid1 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.header-lower img:nth-child(2) {
		grid-column: 1/3;
		grid-row: 2/3;
		align-self: end;
		margin-bottom: 0;
		position: relative;
		top: 3em;
		right: 5em;
		width: 90%;
		max-width: 400px;
	}

	.header-lower div {
		grid-row: 2/3;
		grid-column: 1/3;
		z-index: 1;
		justify-self: end;
		align-self: end;
		text-shadow: 2px 2px var(--shadow);

	}

	header img[src*=grid] {
		grid-column: 3/4;
		grid-row: 2/3;
		align-self: end;
	}

	header {
		overflow: hidden;
	}

}

@media screen and (min-width: 800px) {
	nav ul {
		display: inline;
	}

	nav li {
		display: inline;
		margin: 0 1em;
	}

	.ham {
		display: none;
	}

	.header-upper {
		display: flex;
		justify-content: space-around;
	}

	.header-lower div {
		justify-self: center;
		position: relative;
		left: 6em;
	}

	header img[src*=grid] {
		position: relative;
		left: 4em;
	}

	.content {
		display: flex;
		width: 100%;
	}

	.content > div:first-child {
		background: url(../images/fire.jpeg);
	}

	.content > div {
		width: 50%;
	}

	.summary > .wrapper {
		max-width: 780px;
		margin: 0 auto;
	}

	.summary img[src*=me] {
		margin-right: 3em;
	}

	.social {
		max-width: 300px;
	}

	.project-list {
		display: flex;
		max-width: 850px;
		margin: 0 auto;
	}

	.project-list img {
		height: 200px;
	}

}

@media screen and (min-width: 1020px) {
	body {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: repeat(3, 1fr);
	}

	header {
		grid-column: 1/4
	}
	
	main {
		display: grid;
		grid-row: 2/3;
		grid-column: 1/4;
		grid-template-columns: repeat(4, 1fr);
	}

	footer {
		grid-row: 3/4;
		grid-column: 1/4;
	}

	.certified {
		grid-row: 1/2;
		grid-column: 1/3;
		align-self: center;
	}

	.skills {
		grid-row: 1/2;
		grid-column: 3/5;
	}

	.projects {
		grid-column: 1/5
	}

	.summary {
		grid-column: 1/5
	}

	.form {
		grid-column: 1/5
	}

	.baloon {
		display: block;
	}
}