* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
background: rgb(61,31,209);
background: linear-gradient(184deg, rgba(61,31,209,1) 0%,
            rgba(154,61,154,1) 100%);
color: #fff;
font-family: verdana;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  letter-spacing: 1px;
}

.logo {
  width: 20%;
  position: relative;
  top: 2em;
  left: 2em;
}

nav {
  float: right;
  position: relative;
  right: 2em;
  top: 3em;
}

nav li {
  list-style-type: none;
  display: inline;
  margin-left: 0.6em;
}

header p {
  position: relative;
  top: 2em;
  margin: 2em;
}

main {
  position: relative;
  top: 2em;
}
section {
  margin: 4em 2em;
}

.auto-type {
  height: 30px;
  width: 90%;
  margin: 3em auto 4em auto;
}
.auto-type > p {
  margin: 0.5em;
  text-align: center;
}

.about > h1, .about > h2 {
  text-align: center;
  margin-top: 0.5em;
}

.about > h2 {
  font-size: 18px;
}

h2 {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  font-size: 1.1em;
  color: blue;
  transition: font-size 1s;
}

.certified > p {
  letter-spacing: 0.2px;
  font-size: 15px;
}

.skills, .summary, .publications {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  border-radius: 15px
}

p {
  line-height: 1.5em;
}

p, li {
    font-size: 1.1em;
}

.skills > p {
  display: inline-block;
  width: 60%;
}

.skills > h2 {
  text-align: center;
}

footer {
  text-align: center;
  background-color: rgb(61,31,209);
}

footer > p {
  margin-top: 2em;
}

/***************************************
* MEDIA QUERIES */

@media screen and (min-width: 600px) {
  .certified > p {
    font-size: 1.1em;
  }

  h1 {
    font-size: 30px;
  }

  .skills > p {
    padding-left: 2em;
  }
}
