* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
background: rgb(61,31,209);
background: linear-gradient(184deg, rgba(61,31,209,1) 0%,
            rgba(154,61,154,1) 100%);
color: #fff;
font-family: verdana;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  letter-spacing: 1px;
}

header {
  margin-bottom: 2em;
}

.logo {
  width: 20%;
  position: relative;
  top: 2em;
  left: 2em;
  max-width: 120px;
}

header > i {
  position: relative;
  float: right;
  top: 1em;
  margin-right: 1em;
  font-size: 25px;
}

nav {
  float: right;
  position: relative;
  right: 1em;
  top: 2em;
}

nav li {
  list-style-type: none;
  display: block;
  margin-bottom: 0.5em;
}

header p {

}

main {
  position: relative;
  top: 2em;
  margin-top: 2em;
  padding-top: 2em;
}
section {
  margin: 4em 2em;
}

.auto-type {
  height: 40px;
  margin: 0 auto 4em auto;
  position: relative;
  top: 10em;
  width: 100%;
}
.auto-type > p {
  text-align: center;
}

.about > h1, .about > h2 {
  text-align: center;
  margin-top: 0.5em;
}

.about > h2 {
  font-size: 18px;
}

h2 {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  font-size: 1.1em;
  color: blue;
  transition: font-size 1s;
}

.certified > p {
  letter-spacing: 0.2px;
  font-size: 15px;
}

.skills, .summary, .publications, .projects, .certified {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  border-radius: 15px;
  max-width: 650px;
  margin: 6em auto;
  width: 90%;
  box-shadow: 4px 4px 8px #000;
}

p {
  line-height: 1.5em;
}

p, li {
    font-size: 1.1em;
}

.skills > p {
  display: inline-block;
  width: 60%;
}

.skills > h2 {
  text-align: center;
}

footer {
  text-align: center;
  background-color: #4421CE;
}

footer > p {
  margin-top: 2em;
}

/*************************************
* TOGGLER
*/
.show {
  display: block
}

.hide {
  display: none;
}


/***************************************
* MEDIA QUERIES */

@media screen and (min-width: 600px) {
  .certified > p {
    font-size: 1.1em;
  }

  h1 {
    font-size: 30px;
  }

  .skills > p {
    padding-left: 2em;
  }

  .wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 700px) {
  .fas {
    display: none;
  }

  .header-nav, nav li {
    display: inline;
  }

  nav {
    top: 4em;
  }

  nav li {
    margin-left: 1em;
  }
}
